<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
	  WebOs SyncML Client
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Export Settings</div>
	<div class="palm-list">					
		<div class="palm-row first">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="txtFilename" x-mojo-element="TextField"></div>      
				</div>
			</div>
		</div>
		<div class="palm-row" x-mojo-focus-highlight="true">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="selType" class="listselectorClass"  name="listselectorName"></div> 
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div id="ckOnlySMS" class="right" x-mojo-element="CheckBox"></div>
				<div class="title">Export only SMS</div>  
			</div>
		</div>
	</div>
</div>
<div id="btnStartExport" x-mojo-element="Button"></div>

<div x-mojo-loc='' class="palm-body-title" id="logStatus"></div>

<div x-mojo-loc='' class="palm-body-title" id="logOutput"></div>